html {
    margin-top: 0 !important;
}

/*
html[lang="en-US"] #deepi_post_link *,
html[dir="ltr"] #deepi_post_link *{
	text-align: left;
}
html[lang="fa-IR"] #deepi_post_link *,
html[dir="rtl"] #deepi_post_link *{
	text-align: right;
}
*/

#deepi_post_link{
	margin-top: 10px;
	margin-bottom: 10px;
}
#deepi_post_link * {
	display: inline-block;
}

#deepi_post_link a{
	color: #000;
	text-decoration: underline;
}
#deepi_post_link img{
	width: 20px;
	height: auto;
	margin: 0 10px;
    display: inline-block;
}

/* select2 placeholder & ... font */
.select2-dropdown, .select2-selection__placeholder, .select2-results__options, .select2-results__option.select2-results__message, .select2-search__field, .container, .tooltip {
	color: #6c757d;
	font-size: 14px;
}

/* select2 placeholder img */
html[lang="fa-IR"] .select2-selection__placeholder img,
html[dir="rtl"] .select2-selection__placeholder img{
    height:20px;
    opacity:50%;
    padding-left: 5px;
    margin-bottom:-5px;
}

html[lang="en-US"] .select2-selection__placeholder img,
html[dir="ltr"] .select2-selection__placeholder img{
    height:20px;
    opacity:50%;
    padding-right: 5px;
}